<!DOCTYPE html>

<html>
  <head>
    <!-- Imports -->
    <title>Pantry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="cssmenu/dropStyles.css">

    <title>CSS MenuMaker</title>

  </head>

  <body ng-app = "myApp">

    <!-- Navbar -->
    <div class = "navbar navbar-inverse navbar-fixed-top" >
      <div class = "container">

        <a href = "pantry.html" class = "navbar-brand">Pantry</a>

        <!-- Navbar button for mobile -->
        <button class = "navbar-toggle" data-toggle = "collapse"
          data-target = ".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>

        <div class = "collapse navbar-collapse navHeaderCollapse">
          <ul class = "nav navbar-nav navbar-right">


           <!-- About button -->
            <!-- <li class = "active"><a href = "#">About</a></li> -->


            <!-- Dropdown list for resources -->
            <li class = "dropdown">
              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
              Resources <b class = "caret"></b></a>
              <ul class = "dropdown-menu">
                <li><a href = "http://www.santacruzhsc.org">Santa Cruz Homeless Services Center</a></li>
                <li><a href = "http://www.endveteranhomelessness.org/education/homeless-registry">Homeless Veteran Registry</a></li>
                <!-- add more links -->
              </ul>
            </li>

            <!-- <li><a href = "#">Suggestions</a></li> -->

            <li><a href = "#contact" data-toggle = "modal">Login</a></li>
            <li><a href = "#pay" data-toggle = "modal">Login</a></li>

          </ul>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div ng-controller ="mainController" id=rightSideBar>
      <div id='cssmenu'>
        <div data-ng-init="init()"> </div>   
        <ul ng-repeat= "item in categories" >
          <!-- <li class='active'><a href='#'><span>Home</span></a></li>   -->
            <li class='has-sub'><a href='#'><span>{{item}}</span></a>
              <ul>
                 <li ng-repeat= "products in value" ><a href='#'><span>{{products.name}}</span></a></li>
                 <!-- <li class='last'><a href='#'><span>{{products}}</span></a></li> -->
              </ul>
            </li>
        </ul>
      </div>
    </div>

    <!-- Login -->
    <div class = "modal fade" id = "contact" role = "dialog">
      <div class = "modal-dialog">
        <div class = "modal-content">
          <div class = "modal-header">

            <h4>Login</h4>

          </div>
          <div class = "modal-body">

            User ID: <input type="text" name="fname"><br>
            Password: <input type="text" name="pass"><br>

          </div>
          <div class = "modal-footer">

            <a class = "btn btn-default" data-dismiss = "modal">Login</a>

          </div>
        </div>
      </div>
    </div>

    <!-- Pay -->
    <div class = "modal fade" id = "pay" role = "dialog">
      <div class = "modal-dialog">
        <div class = "modal-content">
          <div class = "modal-header">

            <h4>Donate</h4>

          </div>
          <div class = "modal-body">

            User ID: <input type="text" name="fname"><br>
            Password: <input type="text" name="pass"><br>

          </div>
          <div class = "modal-footer">

            <a class = "btn btn-default" data-dismiss = "modal">Donate</a>

          </div>
        </div>
      </div>
    </div>

    <!-- Shopping Cart -->
    <div id = "page-content-wrapper">
      <div class = "container">

        <!-- create subcontainers based on number of results -->
        <div id = "page-element">
          <div class = "show-image">
            <img name = "item" src = "https://d30y9cdsu7xlg0.cloudfront.net/png/13650-200.png"
            width = "90px" height = "90px" style = "position: relative; left: 15px;">
            <!-- button deletes item from array, which removes own container -->
            <a href = "#"><img name = "close" src = "http://www.cannabistraininguniversity.com/wp-content/uploads/2015/07/red-x.png"
            width = "30px" height = "30px" style = "position: relative; top: -58px; left: 40px;"></a>
            <hr>$4.20
          </div>
        </div>

        <div id = "page-element">
          <div class = "show-image">
            <img name = "item" src = "https://cdn4.iconfinder.com/data/icons/clothicons/512/015-Socks-512.png"
            width = "90px" height = "90px" style = "position: relative; left: 15px;">
            <!-- button deletes item from array, which removes own container -->
            <a href = "#"><img name = "close" src = "http://www.cannabistraininguniversity.com/wp-content/uploads/2015/07/red-x.png"
            width = "30px" height = "30px" style = "position: relative; top: -58px; left: 40px;"></a>
            <hr>$1.00
          </div>
        </div>

      </div>
    </div>

  <!-- Request Sidebar -->
<!--      <div class="container" id = "sidebar1234">
       <div data-ng-init="init()"> </div> 
      <h2>Needed Items</h2>
      <div class = "sidebar-nav" ng-repeat= "item in loadedItems| limitTo:10:0| orderBy:'-count'" >

        <li id = "sideList"><a href="#">{{item.itemName + '   '}} <span class="badge">{{item.count}}</span></a></li>
      </div> 
    </div> -->



      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="Angularscript.js"></script>
      <script src="cssmenu/dropScript.js"></script>
  </body>
</html>
