<!DOCTYPE html>

<html>
  <head>
    <!-- Imports -->
    <title>Pantry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="cssmenu/Dropstyles.css">


    <title>CSS MenuMaker</title>

  </head>

  <body ng-app = "myApp">
  <div ng-controller="mainController">
    <!-- Navbar -->
    <div id = "navbar-fixed-top">
      <div class = "container">

        <a href = "pantry.html" class = "navbar-brand" style = "color: white;">Pantry</a>

        <!-- Navbar button for mobile -->
        <button class = "navbar-toggle" data-toggle = "collapse"
          data-target = ".navHeaderCollapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>

        <div class = "collapse navbar-collapse navHeaderCollapse">
          <ul class = "nav navbar-nav navbar-right">

            <!-- Dropdown list for resources -->
            <li class = "dropdown">
              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" style = "color: white;">
              Resources <b class = "caret"></b></a>
              <ul class = "dropdown-menu">
                <li><a href = "http://www.santacruzhsc.org">Santa Cruz Homeless Services Center</a></li>
                <li><a href = "http://www.endveteranhomelessness.org/education/homeless-registry">Homeless Veteran Registry</a></li>
                <!-- add more links -->
              </ul>
            </li>

            <!-- <li><a href = "#">Suggestions</a></li> -->

            <!-- <li><a href = "#contact" data-toggle = "modal">Login</a></li> -->
            <!-- <li><a href = "#pay" data-toggle = "modal">Donate</a></li> -->

          </ul>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div  id=rightSideBar>
      <div id='cssmenu'>
        <div data-ng-init="init()"> </div>   
        <ul ng-repeat= "item in categories" >
          <!-- <li class='active'><a href='#'><span>Home</span></a></li>   -->
            <li class='has-sub'><a href='#' ng-click="innerList($index)"><span>{{item}}</span></a>
              <ul>
                 <li ng-if="products.amountRequested>0" ng-repeat= "products in value |filter: filtering| orderBy: '-amountRequested'" ><a href='#' ng-click="addItem($index, products); "><span>{{products.name}}</span><span class="badge">{{products.amountRequested}}</span></a></li>
                 <!-- <li class='last'><a href='#'><span>{{products}}</span></a></li> -->
              </ul>
            </li>
        </ul>
      </div>
    </div>

    <!-- Pay -->
    <div class = "modal fade" id = "pay" role = "dialog">
      <div class = "modal-dialog">
        <div class = "modal-content">
          <div class = "modal-header">
            <h4>Donate</h4>
          </div>
          <div class = "modal-body">
          
          <!--Stripe inputs-->
            <form stripe:form="saveCustomer">
              <span class="payment-errors"></span>

              <div class="form-row">
                <label>
                  <span>Card Number</span>
                  <input type="text" size="20" data-stripe="number"/>
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>CVC</span>
                  <input type="text" size="4" data-stripe="cvc"/>
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>Expiration (MM/YYYY)</span>
                  <input type="text" size="2" data-stripe="exp-month"/>
                </label>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year"/>
              </div>

              <!-- total in modal change-->
              <p style = "text-weight: bold;">My donation: <span style = "color:red;">{{cartPrice | currency: "$"}}</span></p>
              <!-- total in modal change-->

              <button type="submit">Submit Payment</button>
            </form>

          </div>

        </div>
      </div>
    </div>

    <!-- Shopping Cart -->
    <div id = "page-content-wrapper">
      <div class = "container" >

        <!-- you can't loop here because there is not need to loop, unless it is how you stay constant and only reload when the thing is clicked.
        needs to loop within array of objects to pring out all of the elements.-->

        <!-- create subcontainers based on number of results -->
        <div id = "page-element" ng-repeat="Object in cartItemObjects track by $index">
          <div class = "show-image">
            <img name = "item" ng-src = "{{Object.imageLink}}"
            width = "90px" height = "90px" style = "position: relative; left: 15px;">
            <!-- button deletes item from array, which removes own container -->
            <a href = "#"><img name = "close" src = "http://www.cannabistraininguniversity.com/wp-content/uploads/2015/07/red-x.png"
            width = "30px" height = "30px" style = "position: relative; top: -58px; left: 40px;" ng-click = "close($index, Object)" ></a>

            <hr>{{Object.name}} : ${{Object.price}}
          </div>
        </div>

      </div>
    </div>

    <!-- donation button -->
    <div id="total-wrapper">
      <div class="container">
        <p id="total">Subtotal({{cartItemObjects.length}} item<span ng-if = "cartItemObjects.length > 1">s</span>):
         <span style = "color: red">{{cartPrice | currency: "$"}}</span></p>
         <hr>
         <div id = "donation-button">
          <a href = "#pay" data-toggle = "modal" style = "color: white;">
          <div class = "container">
            <p>CHECK OUT</p>
          </div></a>
        </div>
      </div>
    </div>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="angularScript.js"></script>
      <script src="cssmenu/dropScript.js"></script>

      <script src="pantryStripe.js"></script>

      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script type="text/javascript" src="bower_components/stripe-angular/stripe-angular.js"></script>
  </div>
  </body>
</html>
