body {
	background-color: #f0ead6;
	/*background-repeat: auto;*/
}

/* navbar gradient */
#navbar-fixed-top {
  background: #434b4e;
}

#sideList {
    list-style-type: none;
    font-size: 20px;
    /*border:1px solid red;*/
    width: 100%;
}

.badge{
	color: white;
	float:right;
}


/* Sidebar styling */
#rightSideBar {
	position: absolute;
	width: 280px;
	margin-top: -50px;
	margin-left: 10px;
}

/* Shopping cart wrapper */
#page-content-wrapper {
	margin-left: 270px;
    /*min-height: px;*/
}

/* Shopping cart container */
#page-content-wrapper .container {
    height: 100%;
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
	width: 900px;
    border-style: solid;
    border-width: 7px;
    border-color: #434b4e;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding-top: 20px;
    /*border: 5px solid gray;*/
}

/* Item in cart */
#page-element {
    float: left;
    background-color: #C9B99F;
    padding-top: 10px;
    margin: 10px;
    display: inline-block;
    width: 182.5px;
    height: 182.5px;
    /* text mod */
    color: black;
    text-align: center;
    text-size: 12pt;
    /* set border styling */
    border-style: solid;
    border-width: 5px;
    border-color: black;
    /* round borders */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

/* Total display */
#total-wrapper .container {
    background-color: white;
    font-size: 20px;
    padding-top: 25px;
    width: 400px;
    height: 200px;
    /* set border styling */
    border-style: solid;
    border-width: 5px;
    border-color: black;
    /* round borders */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#total {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

#donation-button .container {
    background-color: #868e8e;
    font-size: 30px;
    width: 250px;
    height: 75px;
    text-align: center;
    padding-bottom: 20px;
}
/*#FFF1E8 #ECD8C0 #BA9D7D #7C5B3C #10212B*/
